body {
    background-color: #e4e4e4;
}

body,
h1,
ul {
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0;
}

nav {
    margin: 0 4%;
}

nav ul,
aside ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    width: 45%;
    background-color: rgb(54, 54, 54);
    text-align: center;
    margin-top: 10px;
}

nav ul li:nth-child(odd) {
    margin-right: 10%;
}

nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
main > article > a:hover,
aside > section > ul > li > a:hover {
    color: rgb(219, 69, 83);
}

body > main {
    margin: 0 5%;
}

main > h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > article {
    background-color: #fff;
    border: 1px solid #cacaca;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 5% 20px;
}


main > article > img {
    max-width: 100%;
    max-height: 200px;
}

main > article > h3,
main > article > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

main > article > p {
    font-size: 12px;
}

main > article > p:nth-of-type(2) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main > article > a {
    color: #000;
    text-decoration: none;
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


aside {
    background-color: #fff;
    margin: 0 5%;
    border: 1px solid #cacaca;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


aside > section {
    padding: 0 5% 20px;
}

aside > section > h2 {
    font-size: 18px;
}

aside > section > ul > li {
    margin-bottom: 10px;
}

aside section > ul > li > img {
    float: left;
    width: 50px;
}

aside > section > ul > li > a {
    text-decoration: none;
}